<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultithreadBenchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>QQ.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QueueBenchmark.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>035A98261A539CF600F4B44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>035A98311A539CF600F4B44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>035A98531A53B0A500F4B44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>035A99741A5790F100F4B44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>037414021A5856E100F4B44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03E4CC221AF7DB9300F4B44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03E4CC3E1AFA909D00F4B44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03E8617A1A648C9300F4B44B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
